<div class="container body">


  <!--row 0: breadcrumb-->
   <div class="row">
    <div class="col">
        <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item active">HOME</li>
        </ol>
    </div>
</div>

<!--row 1: Title-->
<div class="row sect_header">
    <div class="col-12">Our Research</div>
</div>
<!--row 2: content-->
<div class="row research_ics align-items-center">
    <div class="col-12 col-md-8 text">
        <h2>Intelligent<br>Chemical System</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less norm al distribution of letters, as opposed to using 'Content here, content here'.</p>
    </div>
    <div class="col-12 col-md-4 img">
        <div>image</div>
    </div>
</div>
<!--row 3: content-->
<div class="row research_csi align-items-center">
    <div class="col-12 col-md-8 order-md-2 text">
        <h2>Charge Separation<br>at Interfaces</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
    </div>
    <div class="col-12 col-md-4 order-md-1 img">
        <div>image</div>
    </div>
</div>
<!--row 4: Title-->
<div class="row sect_header">
    <div class="col-12">Innovations</div>
</div>
<!--row 5: content-->
<div class="row innovations">
    <div class="col-12 col-md-6 order-md-1 img">
        <div>image</div>
    </div>
    <div class="col-12 col-md-6 order-md-3">
        <h2>Non-Charging<br>Polymeric Surfaces</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
    </div>
    <div class="col-12 col-md-6 order-md-2 img">
        <div>image</div>
    </div>
    <div class="col-12 col-md-6 order-md-4">
        <h2>Non-Charging<br>Polymeric Surfaces</h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
    </div>
</div>


</div>
