 <div class="container body">

     <!--row 0: Breadcrumb-->
     <div class="row">
         <div class="col">
             <ol class="breadcrumb mb-0">
                 <li class="breadcrumb-item active">PEOPLE</li>
             </ol>
         </div>
     </div>

     <!--row 1: About Prof -->
     <div class="row align-items-end prof">
         <div class="col-12 text-center col-md-6 text-md-right px-4">
             <img src="../img/people/office_lowres.jpg" alt="" class="img-fluid prof">
             <h1>Soh Siow Ling</h1>
             <h2>Assistant Professor</h2>
             <h3>Chemical and Biomolecular Engineering,<br />National University of Singapore</h3>
         </div>
         <div class="col-12 text-center col-md-6 text-md-left px-4">
             <h4>Education / Experiences</h4>
             <p><span>Post-doctoral Fellow</span><Br />Harvard University, Cambridge, MA, USA<br />
                 Department of Chemistry and Chemical Biology<br />Advisor: George M. Whitesides</p>
             <p><span>Ph.D. in Chemical and Biological Engineering</span><br />Northwestern University, Evanston, IL, USA<br />Advisor: Bartosz A. Grzybowski</p>
             <p><span>B.S. in Chemical Engineering</span><br />National University of Singapore</p>
         </div>

     </div>

     <!--row 2: People-->
     <div class="row people">
         <div class="col-12 text-center people-title">
             <h1>People</h1>
         </div>
         <!--JiangYan-->
         <div class="col-12 col-md-6 px-0">
             <div class="row people-card align-items-center">
                 <div class="col-6"> <img src="../img/people/jiangyan.jpg" class="img-fluid people"></div>
                 <div class="col-6">
                     <h1>Jiang Yan</h1>
                     <p>Ph.D. Candidate</p>
                     <p>B.Eng. in Chemical Engineering</p>
                 </div>
             </div>
         </div>
         <!--QiaoWen-->
         <div class="col-12 col-md-6 px-0">
             <div class="row people-card align-items-center">
                 <div class="col-6"> <img src="../img/people/qiaowen.jpg" class="img-fluid people"></div>
                 <div class="col-6">
                     <h1>Loh Qiao Wen</h1>
                     <p>Research Engineer</p>
                     <p>B.Eng. in Materials Engineering</p>
                 </div>
             </div>
         </div>
         <!--Neriah-->
         <div class="col-12 col-md-6 px-0">
             <div class="row people-card align-items-center">
                 <div class="col-6"> <img src="../img/people/neriah.jpg" class="img-fluid people"></div>
                 <div class="col-6">
                     <h1>Neriah Tan Yan Jie</h1>
                     <p>Research Assistant</p>
                     <p>B.Sc. in Chemistry and Biological Chemistry</p>
                 </div>
             </div>
         </div>
         <!--WeiChun-->
         <div class="col-12 col-md-6 px-0">
             <div class="row people-card align-items-center">
                 <div class="col-6"> <img src="../img/people/weichun.jpg" class="img-fluid people"></div>
                 <div class="col-6">
                     <h1>Lim Wei Chun</h1>
                     <p>Research Engineer</p>
                     <p>B.Sc. in Chemistry and Biological Chemistry</p>
                 </div>
             </div>
         </div>
         <!--ChangHui-->
         <div class="col-12 col-md-6 px-0">
             <div class="row people-card align-items-center">
                 <div class="col-6"> <img src="../img/people/LiuChanghui.jpg" class="img-fluid people"></div>
                 <div class="col-6">
                     <h1>Liu Changhui</h1>
                     <p>Ph.D. Candidate</p>
                     <p>Master of Materials Science and Engineering</p>
                     <p>B. Sc. in Chemistry</p>
                 </div>
             </div>
         </div>
         <!--ChiKit-->
         <div class="col-12 col-md-6 px-0">
             <div class="row people-card align-items-center">
                 <div class="col-6"> <img src="../img/people/chikit.png" class="img-fluid people"></div>
                 <div class="col-6">
                     <h1>Ao Chi Kit</h1>
                     <p>Ph.D. Candidate</p>
                     <p>B.Sc. in Chemistry</p>
                 </div>
             </div>
         </div>
         <!--YangPao-->
         <div class="col-12 col-md-6 px-0">
             <div class="row people-card align-items-center">
                 <div class="col-6"> <img src="../img/people/mayangpao.png" class="img-fluid people"></div>
                 <div class="col-6">
                     <h1>Ma Yang Bao</h1>
                     <p>Ph.D. Student on Exchange</p>
                     <p>B.Eng. in Materials Engineering</p>
                 </div>
             </div>
         </div>
         <!--Qiulong-->
         <div class="col-12 col-md-6 px-0">
             <div class="row people-card align-items-center">
                 <div class="col-6"> <img src="../img/people/liqiulong.png" class="img-fluid people"></div>
                 <div class="col-6">
                     <h1>Li Qiulong</h1>
                     <p>Research Fellow</p>
                     <p>B.Eng. in Materials Engineering</p>
                 </div>
             </div>
         </div>
         <!--Ernest-->
         <div class="col-12 col-md-6 px-0">
             <div class="row people-card align-items-center">
                 <div class="col-6"> <img src="../img/people/ernest.png" class="img-fluid people"></div>
                 <div class="col-6">
                     <h1>Ernest</h1>
                     <p>Research Assistant</p>
                     <p>B.Sc. in Chemistry and Biological Chemistry</p>
                 </div>
             </div>
         </div>


     </div>
     <!--row 3: Alumni-->
     <div class="row alumni">
         <div class="col-12">
             <h1>Alumni</h1>
             <table>
                 <tr>
                     <th>Fang Yan</th>
                     <td>Research Fellow (Currently Research Fellow at Nanjing Tech University)</td>
                 </tr>
                 <tr>
                     <th>Sun Yajuan</th>
                     <td>Ph.D. student (Currently Associate Professor at Jiangnan University)</td>
                 </tr>
                 <tr>
                     <th>Yong Wai Pong</th>
                     <td>Research Engineer (Currently, Ph.D. student at University of Sydney)</td>
                 </tr>
                 <tr>
                     <th>Zhang Shan</th>
                     <td>Ph.D. student on exchange, Northwestern Polytechnical University, Shanxi, China</td>
                 </tr>
                 <tr>
                     <th>Spandhana Gonuguntla</th>
                     <td>Ph.D. student (co-supervised with Prof. Dieter Trau)</td>
                 </tr>
                 <tr>
                     <th>Yao Xiukai</th>
                     <td>Research Engineer</td>
                 </tr>
                 <tr>
                     <th>Huang Xu</th>
                     <td>Research Engineer</td>
                 </tr>
                 <tr>
                     <th>Zhang Xuan</th>
                     <td>Ph.D. student (Currently Research Fellow at Nanjing Tech University</td>
                 </tr>
                 <tr>
                     <th>Chen Linfeng</th>
                     <td>Research Fellow (Currently Associate Professor at Jiangnan University)</td>
                 </tr>
                 <tr>
                     <th>Di Xin</th>
                     <td>Ph.D. student on exchange, Northwestern Polytechnical University, Shanxi, China</td>
                 </tr>
             </table>
         </div>
     </div>
 </div>
